@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 navbar-dark bg-dark">
            <img src="/Imagenes/logo.png" width="90px" height="80px" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
