@page "/"


            <center>
                <img src="/Imagenes/logo.png" width="150px" height="180px" />
                <h1>Servicio de estacionamiento</h1>
            </center>
       



<div class="alert alert-danger" role="alert">
    <center>Contamos con servicio las 24 horas</center>
</div>

<div class="card text-center">
    <div class="card-header navbar-dark bg-dark text-white">
       Información
    </div>
    <div class="card-body">
        <h5 class="card-title">Contamos con servicio de calidad</h5>
        <p class="card-text">
            Ofrecemos precios accesibles, cobrando un monto especifico por el tiempo que 
            permanezca el automovil dentro del estacionamiento.
            Además de garantizar la seguridad de su automovil,
            llevando un control de datos al ingresar a las instalaciones.
        </p>
        <img src="/Imagenes/estacionamiento.jpg" width="500px" height="300px" />
    

    </div>
    <div class="card-footer text-muted">
       
    </div>
</div>

